a, a:link {
  text-decoration: underline;
  color: black;
}

a:visited {
  color: #888888;
}

.cv h2 {
  margin-top: 1.5em;
}

.cv h3, .cv h4 {
  margin-top: 1em;
}

.card {
  margin-bottom: 1.5em;
}

.content {
  text-align: start;
}

.hanging-indent {
  padding-left: 22px;
  text-indent: -22px;
}