{{ partial "header" . }}

<main class="cv">

  <header>
    <h1>{{ .Title }}</h1>
    <h5>{{ .Params.last_updated }}</h5>
    {{ partial "tags" . }}
  </header>

  <div class="content">
    
    <div id="contact">
      {{ $contact := .Site.Data.cv.contact }}
      <h2>Contact</h2>
      <address>
        {{ $contact.name.first }} {{ $contact.name.last }}<br>
        <a href="mailto:{{ .Site.Data.cv.contact.email }}">{{ $contact.email }}</a><br>
        <br>
        {{ $contact.address.line1 }}<br>
        {{ $contact.address.line2 }}<br>
        {{ $contact.address.city }}, {{ $contact.address.state }}&nbsp;&nbsp;{{ $contact.address.zip }}
      </address>
    </div>

    <div id="research-interests">
      <h2>Research Interests</h2>
      {{ range $index, $.Site.Data.cv.research_interests }}
        <p>{{ $index.details }}</p>
      {{ end }}
    </div>

    <div id="education">
      <h2>Education</h2>
      {{ range $index, $.Site.Data.cv.education }}
        {{ partial "card/education.html" (dict "context" $index) }}
      {{ end }}
    </div>

    <div id="publications">
      <h2>Publications</h2>

      <h3>Articles in refereed journals</h3>
      {{ range $index, $.Site.Data.cv.publications.articles }}
        {{ partial "card/publication.html" (dict "context" ($index | markdownify)) }}
      {{ end }}

      <h3>Software</h3>
      {{ range $index, $.Site.Data.cv.publications.software }}
        {{ partial "card/publication.html" (dict "context" ($index | markdownify)) }}
      {{ end }}

      <h3>Chapters</h3>
      {{ range $index, $.Site.Data.cv.publications.chapters }}
        {{ partial "card/publication.html" (dict "context" ($index | markdownify)) }}
      {{ end }}

      <h3>Posters</h3>
      {{ range $index, $.Site.Data.cv.publications.posters }}
        {{ partial "card/publication.html" (dict "context" ($index | markdownify)) }}
      {{ end }}
      
    </div>

    <div id="teaching">
      <h2>Teaching</h2>
      {{ range $index, $.Site.Data.cv.teaching }}
        {{ partial "card/teaching.html" (dict "context" $index) }}
      {{ end }}
    </div>

    <div id="mentorship">
      <h2>Mentorship</h2>
      {{ range $index, $.Site.Data.cv.mentorship }}
        {{ partial "card/mentorship.html" (dict "context" $index) }}
      {{ end }}
    </div>

    <div id="research">
      <h2>Research</h2>
      {{ range $index, $.Site.Data.cv.research }}
        {{ partial "card/research.html" (dict "context" $index) }}
      {{ end }}
    </div>

    <div id="grants">
      <h2>Grants</h2>
      {{ range $index, $.Site.Data.cv.grants }}
        {{ partial "card/grant.html" (dict "context" $index) }}
      {{ end }}
    </div>

    <div id="awards">
      <h2>Awards</h2>
      {{ range $index, $.Site.Data.cv.awards }}
        <h3>{{ $index.location }}</h3>
        {{ range $award, $index.items }}
          {{ partial "card/award.html" (dict "context" $award) }}
        {{ end }}
      {{ end }}
    </div>

    <div id="service">
      <h2>Service</h2>
      {{ range $index, $.Site.Data.cv.service }}
        {{ partial "card/service.html" (dict "context" $index)}}
      {{ end }}
    </div>

    <div id="qualifications">
      <h2>Qualifications</h2>
      <p>A non-exhaustive, but representative list</p>
      {{ range $index, $.Site.Data.cv.qualifications }}
        {{ partial "card/_dated" (dict "left" $index.level "right" $index.name )}}
      {{ end }}
    </div>
    
  </div>

</main>

{{ partial "footer" . }}
